*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{

    background-image: url(lotr.jpg);
    color: white;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

h1{
    padding: 30px;

}

form{

    display: inline-block;
    width: fit-content;
    padding: 250px;
    
}

label{
    
    display: inline-block;
    font-weight: 600;
    width: 105px; 
    text-align: left;
}

div{
    margin: 15px 0px;
}

input{
    height: 20px;
    text-align: center;
    border-radius: 20px;
    border-style: none;

}

.button input{
    background-color: #7A623E;
    color: #ffffffd0;
    padding: 0px 25px;
    border-style: none;

}
.button input:hover{
    background-color: #7a623e6b;
    color: white;
    font-size: bold;
    cursor: pointer;

}
input:focus{
    text-align: center;
}

